{% extends 'base.html' %}
{% load static %}

{% block title %}Добро Пожаловать{% endblock title %}

{% block body %}
  <!-- ********************** -->
  <!--     I N T R O          -->
  <!-- ********************** -->
	<script type="text/javascript" src="{% static 'js/jquery/jquery.slides.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shoppica.products_slide.js' %}"></script>
  <!-- end of intro -->


  <!-- ********************** -->
  <!--      C O N T E N T     -->
  <!-- ********************** -->
  <div id="content" class="container_12">


    <div id="welcome" class="grid_12">
      <h2>Welcome to Nomad Shop</h2>
      <span class="image main"><img src="{% static 'images/1234.jpeg' %}" style="width:150; height:150;" alt="" /></span>
  <br>
      <p>
      Kyrgyzstan is a mountainous country in Central Asia. It is located along the Silk Road, an ancient trade route between China and the Mediterranean. The Tien Shan mountains, which surround this caravan route and occupy most of the country, are inhabited by snow leopards, lynxes and sheep. In the south of the country is the city of Osh, whose history goes back more than a thousand years. It is famous for its huge bazaar, where merchants who followed the Great Silk Road once stopped.
        National Kyrgyz souvenirs are the legacy of ancestral masters, the processing and dressing of leather, wool, animal bones passed down from generation to generation is a separate work of art.

You can find in our catalog many products of the highest class masters - from felt products to finely crafted marble products.

A wide range also includes original gifts for all occasions. Order with delivery throughout Bishkek, Kyrgyzstan - the prices will pleasantly surprise you with their availability, and sometimes discounts and low cost.
      </p>
    </div>

    <div class="clear"></div>

    <div id="special_home" class="grid_12">
      <h2 class="s_title_1"><span class="s_main_color">Избранные</span> Товары</h2>
      <div class="clear"></div>
      <div class="s_listing s_grid_view clearfix">
        {% for product in products %}
          <div class="s_item grid_2"> <a class="s_thumb" href="{% url 'product-details' product.id %}"><img src="{{ product.image.url }}" title="{{ product.name }}" alt="{{ product.name }}" /></a>
          <h3><a href="product.html">{{ product.name }}</a></h3>
          <p class="s_price">{{ product.price|floatformat:"1" }} сом</p>
            <!--          <a class="s_button_add_to_cart" href="product.html"><span class="s_icon_16"><span class="s_icon"></span>Добавить в корзину</span></a>-->
            {% include 'add_to_cart_form.html' with product=product cart_form=cart_form %}
        </div>
        {% endfor %}
        <div class="clear"></div>
      </div>
    </div>




  <!-- end of content -->

  <!-- ********************** -->
  <!--   S H O P   I N F O    -->
  <!-- ********************** -->
  <div id="shop_info">
    <div id="shop_info_wrap">

    </div>
  </div>
  <!-- end of shop info -->
{% endblock body %}

