{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}
{% block body %}
<!-- ********************** -->
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <div id="breadcrumbs" class="grid_12">
          <a href="{% url 'index' %}">Home</a>
          &gt;
          <a href="{% url 'products-list' category.slug %}">{{ category.name }}</a>
        </div>
        <h1>{{ category.name }}</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="container_16">

    
    <div id="category" class="grid_12">

      
      <div id="listing_options">
        <div id="listing_sort" class="s_switcher">
          <span class="s_selected">Default</span>
          <ul class="s_options" style="display: none;">
            <li><a href="">Name A - Z</a></li>
            <li><a href="">Name Z - A</a></li>
            <li><a href="">Price Low &gt; High</a></li>
            <li><a href="">Price High &gt; Low</a></li>
            <li><a href="">Rating Highest</a></li>
            <li><a href="">Rating Lowest</a></li>
            <li><a href="">Model A - Z</a></li>
            <li><a href="">Model Z - A</a></li>
          </ul>
        </div>
      </div>

      <div class="clear"></div>

      <div class="s_listing s_list_view clearfix">
      {% for product in products %}
        <div class="s_item clearfix">
          <div class="grid_3 alpha"> <a class="s_thumb" href="{% url 'product-details' product.id %}"><img src="{{ product.image.url }}" title="{{ product.name }}" alt="{{ product.name }}" /></a> </div>
          <div class="grid_9 omega">
            <h3><a href=" {% url 'product-details' product.id %}">{{ product.name }}</a></h3>
            <p class="s_price">{{ product.price|floatformat:"0" }} <span class="s_currency s_before"> сом</span></p>
            <p class="s_description">{{ product.description }}</p>
            {% include  'add_to_cart_form.html' with product=product %}
          </div>
        </div>

        <div class="clear"></div>
      {% endfor %}

      </div>
      
      <div class="pagination">
        <div class="results">Showing 1 to 6 of 6 (1 Pages)</div>
      </div>
      
    </div>
    
    <div id="right_col" class="grid_4">
      <div id="cart_side" class="s_box_1 s_cart_holder">
        <h2 class="s_secondary_color">Shopping Cart</h2>
        <div id="cart_side_contents">
          <p class="s_mb_0">0 items</p>
        </div>
      </div>
      
      <div id="categories_module" class="s_box">
        <h2>Categories</h2>
        <div class="s_list_1">
          <ul>
          	<li><a href="listing_1.html">Clothing</a></li>
            <li><a href="listing_1.html">Shoes</a></li>
            <li><a href="listing_1.html">Gifts</a></li>
            <li><a href="listing_1.html">At home</a></li>
            <li><a href="listing_1.html">Health</a></li>
            <li><a href="listing_1.html">Jewellery</a></li>
            <li><a href="listing_1.html">Books</a></li>
          </ul>
      	</div>
      </div>
      
    	<div id="brands_module" class="s_box">
        <h2>Brands</h2>
        <select onchange="location = this.value">
          <option> --- Please Select --- </option>
          <option>Tumar</option>
          <option>Keldike</option>
           <option>Chokoychu</option>
           <option>Сhukoland</option>
           <option>Ecomade</option>
           <option>ЕthnoKG</option>
           <option>Oymo</option>
           <option>Dilbar</option>
           <option>Bagira</option>
           <option>Ulusha Zhol</option>
          <option>Ilbirs</option>
          <option>Alexsandra</option>
          <option>Ulusha Zhol </option>

        </select>
        </div>
      

        <h2>Information</h2>
        <ul class="s_list_1">
          <li><a href="static.html">About Nomad Shop</a></li>
          <li><a href="static.html">Privacy Policy</a></li>
          <li><a href="static.html">Terms &amp; Conditions</a></li>
          <li><a href="contacts.html">Contact Us</a></li>
          <li><a href="sitemap.html">Site Map</a></li>
        </ul>
    </div>
  </div>
  <!-- end of content -->
{% endblock body %}
