{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}
{% block body %}
<!-- ********************** -->
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <div id="breadcrumbs" class="grid_12">
          <a href="{% url 'index' %}">Home</a>
          &gt;
          <a href="{% url 'products-list' category.slug %}">{{ category.name }}</a>
        </div>
        <h1>{{ category.name }}</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="container_16">

    
    <div id="category" class="grid_12">

      

      <div class="clear"></div>

      <div class="s_listing s_list_view clearfix">
      {% for product in products %}
        <div class="s_item clearfix">
          <div class="grid_3 alpha"> <a class="s_thumb" href="{% url 'product-details' product.id %}"><img src="{{ product.image.url }}" title="{{ product.name }}" alt="{{ product.name }}" /></a> </div>
          <div class="grid_9 omega">
            <h3><a href=" {% url 'product-details' product.id %}">{{ product.name }}</a></h3>
            <p class="s_price">{{ product.price|floatformat:"0" }} <span class="s_currency s_before"> сом</span></p>
            <p class="s_description">{{ product.description }}</p>
            {% include  'add_to_cart_form.html' with product=product %}
          </div>
        </div>

        <div class="clear"></div>
      {% endfor %}
      </div>

<div class="pagination">
  <div class="results">
<li class="page-item"><a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
<li class="page-item active" aria-current="page">
</li>
{% if page_obj.has_next %}
<li class="page-item">
<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
</li>
    </div>
</div>

<!--<div class="pagination">-->
<!--  <div class="results">Showing 1 to 6 of 6 (1 Pages)-->
<!--        <nav aria-label="...">-->
<!--            <ul class="pagination pagination-sm">-->
<!--                {% if page_obj.has_previous %}-->

<!--                <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }} </a></li>-->
<!--                {% endif %}-->
<!--                <li class="page-item active" aria-current="page">-->
<!--                <span class="page-link">{{ page_obj.number }}</span>-->
<!--                </li>-->
<!--                {% if page_obj.has_next %}-->
<!--                <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->
      
    </div>
    
    <div id="right_col" class="grid_4">
      <div id="cart_side" class="s_box_1 s_cart_holder">
        <h2 class="s_secondary_color">Shopping Cart</h2>
        <div id="cart_side_contents">
          <p class="s_mb_0">0 items</p>
        </div>
      </div>
      

      





  <!-- end of content -->
{% endblock body %}
