{% extends 'base.html' %}

{% load static %}
{% block title %}{{ product.name }}{% endblock title %}

{% block body %}
<!-- ********************** -->
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="product_view container_16">

    <div id="product" class="grid_12">
      <div id="product_images" class="grid_6 alpha">
      	<a id="product_image_preview" rel="prettyPhoto[gallery]"><img id="image" src="{{ product.image.url }}" title="{{ product.name }}" alt="{{ product.name }}" width="300" height="300" /></a>
      </div>
      <div id="product_info" class="grid_6 omega">
        <p class="s_price">{{ product.price|floatformat:"0g" }}<span class="s_currency s_after"> сом</span></p>

        <div id="product_share" class="clearfix">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4de0eff004042e7a"></script>
          <!-- AddThis Button END -->
        </div>
        <div id="product_buy" class="clearfix">
            {% include 'add_to_cart_form.html' with product=product %}
        </div>
      </div>
      <div class="clear"></div>
      <div class="s_tabs grid_12 alpha omega">
        <ul class="s_tabs_nav clearfix">
          <li><a href="#product_description">Description</a></li>
          <li><a href="{% url 'add_comment_to_post' product.id %}">Comments</a></li>
          <li><a href="#product_gallery">Photos</a></li>
        </ul>
        <div class="s_tab_box">
          <div id="product_description">
            <div class="cpt_product_description ">
                {{ product.description }}

            </div>
            <!-- cpt_container_end -->
          </div>
        </div>
      </div>
      

      
    </div>


    
    <div id="right_col" class="grid_3">

    </div>
    
  </div>
  <!-- end of content -->
  {% endblock body %}
